h1{
    color:brown;
}
li{
    color: blueviolet;
}
#food-title{
    color: green;
    /* background-color: lightgreen; */
}
.foods .foreign-food{
    font-weight: 700;
}
.bg-red{
    background-color: red;
}
.bold{
    font-weight: 300;
}
.big{
    font-size: 3em;
}